.App .itemPage .comments .filter {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    box-shadow: 5px 5px 15px rgb(218, 218, 218);
    margin: 1rem;
    padding: 1rem;
}

.App .itemPage .comments .filter input {
    width: 30rem;
    margin: 0 1rem;
}

.App .itemPage .comments .comment {
    box-shadow: 5px 5px 15px rgb(218, 218, 218);
    margin: 1rem;
    padding: 1rem;
}

.App .itemPage .comments .comment .titleComment {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(238, 255, 203);
}

.App .itemPage .comments .comment .titleComment img {
    width: 2.5rem;
    border-radius: 5px;
}

.App .itemPage .comments .comment .titleComment > * {
    margin: 0.5rem;
}

@media only screen and (max-width: 700px) {
    .App .itemPage .comments .filter {
        flex-direction: column;
        align-items: flex-start;
        margin: 0.5rem;
        padding: 0.5rem;
    }

    .App .itemPage .comments .filter input {
        margin: 0.5rem;
        width: 95%;
    }

    .App .itemPage .comments .filter button {
        margin: 0.5rem;
        width: 95%;
    }

    .App .itemPage .comments .filter span {
        margin: 0.5rem;
    }

    .App .itemPage .comments .comment {
        margin: 0.5rem;
        padding: 0.5rem;
    }
}
