.App .content .bottom .itemList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 98%;
    margin: 0.5rem;
    border-radius: 5px;
}

.App .content .bottom .itemList .item {
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgb(218, 218, 218);
    margin: 0.5rem;
    padding: 0.5rem;
    width: 31%;
    min-height: 5rem;
    transition: 0.1s ease-in-out all;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.App .content .bottom .itemList h5 {
    text-transform: capitalize;
}

.App .content .bottom .itemList .item .description {
    font-size: 0.8rem;
    background-color: rgba(65, 51, 155, 0.28);
    border-radius: 0.2rem;
    padding-left: 0.5rem;
}

.App .content .bottom .itemList .item .description span {
    margin-right: 0.2rem;
}

.App .content .bottom .itemList .item .title span {
    font-size: 0.9rem;
    font-weight: bold;
    color: rgb(43, 43, 173);
    text-shadow: 1px 1px 5px grey;
}

.App .content .bottom .itemList .item:hover {
    background-color: rgb(220, 255, 200);
    transform: scale(1.03);
    cursor: pointer;
}

@media only screen and (min-width: 701px) and (max-width: 1000px) {
    .App .content .bottom .itemList .item {
        width: 47%;
    }
}

@media only screen and (max-width: 700px) {
    .App .content .bottom .itemList {
        width: 98%;
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 0;
    }

    .App .content .bottom .itemList .item {
        width: 98%;
    }
}
